$ORIGIN 0.0.10.in-addr.arpa.
$TTL 86400

@                   IN  SOA     ns1.maccarello.internal. ns2.maccarello.internal. (
                                    2021033101      ; serial
                                    28800           ; refresh
                                    7200            ; retry
                                    86400           ; expire
                                    86400           ; min TTL
                                    )

                    IN  NS      ns1.maccarello.internal.

100                 IN  PTR      mntr000lickitung0.silph.internal.
101                 IN  PTR      mntr000venonat0.silph.internal.
102                 IN  PTR      mntr000growlithe0.silph.internal.

120                 IN  PTR     svr000starmie0.silph.internal.

150                 IN  PTR     svr000kangaskhan0.silph.internal.

249                 IN  PTR     cdns000mankey0.silph.internal.
251                 IN  PTR     fdns000hitmonlee0.silph.internal.

250                 IN  PTR     dhcp145pidgey0.silph.internal.



