server:
    server-count: 1
    database: ""
    # zonelistfile: "/var/db/nsd/zone.list"
    #username: trustees
    logfile: "/var/log/nsd.log"
    pidfile: "/var/run/nsd.pid"
    # Enable if privilege "jail" is needed for unprivileged user. Note
    # that other file paths may break when using chroot
    # chroot: "/etc/nsd/"
    # The default zone transfer file
    # xfrdfile: "/var/db/nsd/xfrd.state"
    # The default working directory before accessing zone files
    # zonesdir: "/etc/nsd"

remote-control:
    # this allows the use of 'nsd-control' to control NSD. The default is "no"
    control-enable: yes
    # the interface NSD listens to for nsd-control. The default is 127.0.0.1
    control-interface: 127.0.0.1
    # the key files that allow the use of 'nsd-control'. The default path is "/etc/nsd/". Create these using the 'nsd-control-setup' utility
    server-key-file: /etc/nsd/nsd_server.key
    server-cert-file: /etc/nsd/nsd_server.pem
    control-key-file: /etc/nsd/nsd_control.key
    control-cert-file: /etc/nsd/nsd_control.pem

zone:
    name: maccarello.home
    zonefile: /etc/nsd/maccarello.home.zone

zone:
    name: maccarello.internal
    zonefile: /etc/nsd/maccarello.internal.zone

zone:
    name: silph.internal
    zonefile: /etc/nsd/silph.internal.zone

zone:
    name: pallet.internal
    zonefile: /etc/nsd/pallet.internal.zone

zone:
    name: 0.0.10.in-addr.arpa
    zonefile: /etc/nsd/0.0.10.in-addr.arpa.zone
