$ORIGIN pallet.internal.
$TTL 86400


@                   IN  SOA     ns1.silph.internal. ns2.silph.internal. (
                                    2021033101      ; serial
                                    28800           ; refresh
                                    7200            ; retry
                                    86400           ; expire
                                    86400           ; min TTL
                    )

@                   IN  NS      ns1.silph.internal.

mgmt000oak0         IN  a       10.0.0.1
mgmt000green0       IN  a       10.1.0.1


