$ORIGIN silph.internal.
$TTL 86400


@                   IN  SOA     ns1.silph.internal. ns2.silph.internal. (
                                    2021033101      ; serial
                                    28800           ; refresh
                                    7200            ; retry
                                    86400           ; expire
                                    86400           ; min TTL
                    )

@                   IN  NS      ns1.silph.internal.

ns1                 IN  A       10.0.0.249

mntr000lickitung0   IN  A       10.0.0.100
mntr000venonat0     IN  A       10.0.0.101
mntr000growlithe0   IN  A       10.0.0.102
mntr000zubat0       IN  A       10.1.0.103

svr000starmie0      IN  A       10.0.0.120

svr000kangaskhan0   IN  A       10.0.0.150

cdns000mankey0      IN  A       10.0.0.249
fdns000hitmonlee0   IN  A       10.0.0.251

fdns000hitmonchan0  IN  A       10.1.0.251

dhcp145pidgey0      IN  A       10.0.0.250
fdns145hitmonlee0   IN  A       10.145.0.251

fdns145hitmonlee0   IN  A       10.0.145.251

fdns145hitmonchan0  IN  A       10.1.145.251

